{% extends 'base.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block body %}
    <div class="row">
        <h1>Statistics</h1>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Vacancy</th>
                <th scope="col">Content</th>
                <th scope="col">Mark</th>
            </tr>
            </thead>
            <tbody>
            {% for resume in rating %}
                <tr>
                    <th scope="row">{{ resume.vacancy }}</th>
                    <td>{{ resume.shortContent }}</td>
                    <td>{{ resume.averageMark }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
