{% extends 'base.html.twig' %}

{% block title %}New vacancy{% endblock %}

{% block body %}
    <div class="row">
        <h1>Create vacancy</h1>
    </div>
    <div class="row">
        <div class="col-5">
            {% include 'vacancy/form.html.twig' with {form: form} %}
        </div>
    </div>
{% endblock %}
